body{
    font-family: "Tahoma", "Verdana", sans-serif;
}

#origin{
    width:330px;
    /*margin: 0 auto;*/
}

    #fragments{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    #origin .expand-button{
        box-shadow: 2px 2px 3px #122F52;
        border: 1px solid #7189A5;
        padding : 0 1em;
        font: bold 10px "verdana";
        text-transform: uppercase;
    }
    #origin .expand-button:hover{
        background-color: #000000;
        cursor : pointer;
    }

    #list{
        /*background-color: #ddd;*/
    }

        .list-label {
            /*background-color: #4B688B;*/
            background-color: #ddd;
            color: #4B688B;
            /*border-top: 1px solid #fe9772;*/
            border: 1px solid #7189A5;
            /*border-top: none;*/
            /*border-radius: 5px;*/
            margin-bottom: 8px;
            font-size: 24px;
            letter-spacing: .05em;
            list-style-type: none;
            box-shadow: 2px 2px 3px #122F52;
            height: 50px;
            /*width :300px;*/
            /*margin: 0 auto;*/
            padding-left: 1em;
            padding-top: 10px;
        }

        #list .label-active{
            background-color: orange;
            color: white;
        }

        .list-fragment{
            border-radius: 5px;
            border: 1px solid #7189A5;
            box-shadow: 2px 2px 3px #122F52;
            font-size: 18px;
            letter-spacing: .05em;
            list-style-type: none;
            height: 30px;
            padding-left: 1em;
            padding-right: 5px;
            padding-top: 10px;
            margin-right: 20px;
        }

#expand{
    /*overflow: scroll;*/
    overflow-x: hidden;
    width : 240px;
    position: absolute;
    padding:0;
    margin :0;
    /*background-color: #ddd;*/
}

span{
    border-radius: 5px;
    border : 1px solid #000000;
    padding-right: 0.1em;
    padding-left: 0.1em;
    margin: 0 0.05em;
}



.tooltip{
    color:#fff;
    position: absolute;
    background-color: #000 ;
    padding: 8px;
    font-size:16px;
}
